.mt-5.notifications
  - if flash[:error].present?
    .alert.alert-danger{ role: alert }
      - flash[:error].each do |msg|
        %p
          = msg

.mt-5.search-module
  = form_tag('/search', method: 'get') do
    .input-group
      = text_field_tag(:q, '', placeholder: 'Search for...', class: 'form-control')
      %span.input-group-btn
        = submit_tag("Search", class: 'btn btn-secondary')

  - if @items.empty?
    .mt-4.empty
      .alert.alert-secondary.text-center{ role: alert }
        No recipes in the list
  - else
    .mt-4.summary
      Total recipes in the list:
      %span.badge.badge-secondary
        = @items.count

    %table.mt-2.table.table-striped#results
      %tbody
        - @items.each do |item|
          %tr
            %td
              .thumbnail
                - if item.thumbnail.present?
                  %img{ src: item.thumbnail, alt: "No image" }
                - else
                  %img{ src: 'http://img.recipepuppy.com/9.jpg', alt: "No image" }
              .information
                %h6
                  %a{ href: item.href, target: '_blank' }
                    = raw item.title
                %p
                  %span.caption
                    Ingredients:
                  %span.ingredients
                    - item.ingredients.each do |ingredient|
                      %span.badget
                        = raw ingredient

