// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.search-module {
  table#results {
    tr:hover {
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .thumbnail, .information {
      display: inline-block;
      vertical-align: top;
    }

    .thumbnail {
      img {
        display: block;
        background-color: #CCC;
        width: 110px;
        height: 80px;
      }
    }

    .information {
      width: 89%;

      p {
        margin-bottom: 0;
        line-height: 2em;

        span.badget {
          font-weight: normal;
          padding: 3px 5px;
          margin: 0 2px;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
          border-radius: 4px;
        }
      }
    }
  }
}
